html {
    height: 100%;
}

.card-outer {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 15%;
    float: left;
    margin-left: 200px;
    align-self: baseline;
    outline: 5px solid black;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 12px 18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #f2f2f2;
    float: left;
    width: 20%;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
}

.social-icons a {
    color: white;
}


/* Cards */
.card-container {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.card-container li {
    width: 100%;
    background-color: #333;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    margin: 10px 10px;
}

.icons {
    text-decoration: none;
    color: red;
}

a {
    color: blue;
    font-weight: bold;
}

.card-container a {
    color: #fff;
}